# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!README.md
!*.png

# Allow source files
!src/
!src/**/*.java

# Allow library JARs
!lib/
!lib/*.jar

# Allow resources and config files
!resources/
!resources/*.txt
!resources/*.png
